<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeesystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeSystem.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.dashboard.ListProductActivity"></activity>
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.authencation.ForgotActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.CoffeeSystem.NoActionBar.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DetailProductActivity"
            android:label="@string/title_activity_detail_product"
            android:theme="@style/Theme.CoffeeSystem.NoActionBar" />
        <activity
            android:name=".ui.authencation.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>